<div>

  <div class="left-pic">
    <%= image_tag("Wallpaper.jpg", class:"img-responsive main-image" , size: "650x650", alt:"Welcome Image") %> 
  </div>

  <div class="right-info">
    <h1>Welcome to the Issue Manager!</h1>
    <div class="center">
      <%= link_to "Sign In", sessions_new_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
