<form>
Employee Id: <input type="text" value="<%= @employee.id %>" readonly=true><br>

Name: <input type="text" value="<%= @employee.name %>" readonly=true><br>

Department:<input type="text" value="<%= @employee.department %>" readonly=true><br>

</form>

<%= form_tag employee_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
   <input type=submit value='Delete User'>    
<% end %>

