<form>
<label>Id:<br>
<p><%= @employee.id %><p>

<label>Name:<br>
<p><%= @employee.name %><p>

<label>Department:<br>
<p><%= @employee.department %><p>

</form>

<%= form_tag employee_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
   <input type=submit value='Delete User'>    
<% end %>

